*{
  margin: 0;
  padding: 0;

}
body {
  background: #f3f4f4;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
}
.mr2 {
  margin-right: 1rem;
}
.ml2 {
  margin-left: 1rem;
}
.article-title {
  font-size: 2.5rem;
  line-height: 1;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  letter-spacing: 0.025em;
  transition: font-size 0.45s ease-in-out, color 0.3s ease-out;
}
.header-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  /*margin-bottom: 10px;*/
  position: relative;
  transition: all 0.45s ease-in-out;
  background-color: transparent;
}
.overlay {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.title-wrap {
  transform: translateY(0);
  transition: transform 0.45s ease-in;
  margin-top: 10px;
}
.drop-cap {
  font-size: 55px;
  line-height: 28px;
}
.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__cover-exerpt {
  color: #6a6a6a;
  padding: 1rem 1.5rem;
  line-height: 1.6;
  text-align: center;
  opacity: 1;
  max-width: 370px;
  margin: 0 auto;
  display: block;
  transition: all 0.25s ease-in-out;
}

.card__cover {
  height: 100%;
  width: 100%;
}

.card {
  overflow: hidden;
  background: white;
  height: 580px;
  width: 400px;
  box-shadow: 0 20px 30px -10px #ccc;
  transition: all 0.5s ease-in-out;
  margin: 20px;
  border-radius: 10px;
}

.subcard {
  overflow: hidden;
  background: white;
  height: 230px;
  width: 360px;
  box-shadow: 0 20px 30px -10px #ccc;
  transition: all 0.5s ease-in-out;
  margin: 20px;
  border-radius: 10px;
}

.subcard:hover {
  box-shadow: 0 6px 50px 10px #cfcfcf;
}
.card:hover {
  box-shadow: 0 6px 50px 10px #cfcfcf;
}
a{
  text-decoration: none;
  color: black;
}

#image_logo {
  margin-top: 22px;
  margin-left: 160px;
}