<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="../static/login.css"/>
</head>

<body>
<div id="login_frame">
    <p id="image_logo"><img src="../static/icons/pitt.png", width="80", height="50"></p>
    <form method="post">
        <p><label class="label_input">username</label><input type="text" name="username" class="text_field"/></p>
        <p><label class="label_input">password</label><input type="text" name="password" class="text_field"/></p>
        <div id="login_control">
            <input type="submit" id="btn_login" value="login"/>
            <a id="forget_pwd" href="forget_pwd.html">forget password</a>
        </div>
    </form>
</div>

</body>
</html>